# env files
.env
backend/.env
frontend/.env
frontend/.env.local

# python
venv/
backend/venv/
__pycache__/
*.pyc

# node
node_modules/
frontend/node_modules/
.next/
frontend/.next/

# data
backend/data/uploads/
backend/data/vector_indexes/

# mac
.DS_Store